@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";

/* Plik: globals.css */

/* Definicje zmiennych kolorów dla ciemnego motywu */
:root {
  /* Kolory klubowe */
  --club-green: #174135;
  --club-red: #da1818;

  /* Kolory tekstu */
  --text-main: #ffffff;
  /* Biały dla głównego tekstu */
  --text-muted: #a0a0a0;
  /* Szary dla mniej ważnego tekstu */

  /* Kolory tła */
  --background-main: #121212;
  /* Główne tło strony (bardzo ciemny szary) */
  --background-card: #1a1a1a;
  /* Tło dla kart i modułów (ciemny węgiel) */

  /* Kolory ramek */
  --border-color: rgba(255, 255, 255, 0.1);
  /* Subtelna biała ramka */
}

/* Ustawienie domyślnego tła i tekstu dla całej strony */
body {
  background-color: var(--background-main);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Upewnij się, że linki też mają domyślny kolor */
a {
  /* color: inherit; */
  text-decoration: none;
}

header {
  backdrop-filter: blur(12px);
}

img {
  display: block;
}

@theme {
  /* Definiujemy własną animację 'scroll' */
  --animate-scroll: scroll 35s linear infinite;

  /* Definiujemy klatki kluczowe (keyframes) dla tej animacji */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}